#artistForm tr td:nth-child(1) {
    text-align: right;
}
#artistForm tr:nth-child(5) td {
    text-align: center;
}

.featured {
    background-color: #ccc;
}

textarea#info {
	width: 300px;
	height: 100px;
}

img.artist {
	max-width: 128px;
}
h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 300;
    line-height: 1.3em;
}

h2 {
    margin-top: 1.3em;
}
