<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link rel="stylesheet" href="cssBase.css">
</head>
<table id="siteTable">
	<tr>
		<td id="logoHeader">
			Logo     and  title here.     graphics in the works this is just a layout test
		</td>
	</tr>
	<tr>
		<td id="middleRow">
			<table id="middleRowTable"> 
				<tr>
					<td id="leftBar">
						links to be listed here top aligned  belkow will be a short list of the three nearest events
					</td>
					<td id="main">
						<table id="middleTable"> 
							<tr id="pageTitle">
								<td>
									pagetitle
								</td>
							</tr>
							<tr id="main1">
								<td>
									main feature
								</td>
								
							</tr>
							<tr id="main2">
								<td>
									lesser feature
								</td>
							</tr>			
						</table>				
					</td>
					<td id="rightBar">
					current featured artist displayed here top aligned 
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td id="address">
		Misc info and copywrite details
		</td>
	</tr>
</table>
<body>
</body>
</html>